@model Order
@{
    ViewData["Title"] = "سبد خرید";
}
@if (Model != null)
{

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>نام کالا</th>
                <th>تعداد</th>
                <th>قیمت</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Count</td>
                <td>@(item.Count * item.Price)</td>
                <td>
                    <a asp-action="RemoveCart" asp-route-DetailId="@item.DetailId">حذف</a>
                </td>
            </tr>
        }
    </table>
    <h3>جمع کل :@Model.OrderDetails.Sum(s => s.Count * s.Price) </h3>
}
else
{
    <div class="alert alert-danger">فاکتوری وجود ندارد!</div>
}